@import "./milligram.css";
@import "./phoenix.css";

body {
  text-align: center;
}

header {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;    
}

nav {
  display: flex;
  width: 80%;
  margin: auto;
}

nav li {
  list-style-type: none;
  margin: auto;
  margin-bottom: 0rem;
}

.game-label:empty {
  display:none;
}

.game-elem {
  background-color: seagreen;
}

.card {
  transform-box: fill-box;
  transform-origin: center;
}

.card.highlight {
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
  cursor: pointer;
}

.player-score {
  transform-box: fill-box;
  transform-origin: center;  
}

.player-score rect {
  fill: cornflowerblue;
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
}

.game-over-message text {
  fill: #9b4dca;
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
  font-size: 500%;
  text-anchor: middle;
}

.start-game-button {
  display: none;
}

.leave-game-button {
  display: none;
}
